 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>Diversity is an issue within many facets of life. Women In Technology (WIT) believes that we can do something to change the lack of gender diversity in the media and technology industries. The organization brings together key influencers, community members, entrepeneurs and thought-provokers.</p>
                  <h4>The Mission:</h4>
                  <p>To inspire talented women to consider a future in media and technology by providing the network and experience of successful women and men from the corporate and entrepreneurial worlds.</p>
                </div>
                <div class="col-lg-4">
                  <p>The number of women involved in computer science has declined since the 1980s. In fact, the number of CS majors has dropped by more than 50% this decade. We need women to be a force shaping the future of technology, and they’re simply not there.</p>
                  <p>Experience shows that companies and projects have a higher likelihood being successful if there are women on your team to provide more inclusive design, more innovation, and a more balanced approach.Even more, companies with the highest representation of women in senior leadership had better financial performance than companies with the lowest representation of women. And that Fortune 500 companies with women CEOs outperformed the market.</p>
                </div>
            </div>
            <div class="row col-lg-8 col-lg-offset-2 text-center">
              <h4>Our sponsors make this a <strong>FREE</strong> event</h4>
              <img src="img/sponsors.png"  alt="The sponsors of WIT2014">
          </div>
        </div>
    </section>
