 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>Women In Tech's mission is to inspire talented women to consider a future in media and technology by providing the network and experience of successful women and men from the corporate and entrepreneurial worlds.</p>
                  <p>The first Women in Tech event took place on the International Womens’ Day 2014 in Stockholm. The event was a great success with over 400 participants, and a day full of networking, insight and inspiration.</p>
                </div>
                <div class="col-lg-4">
                  <p>In fall 2014, we invited WIT:s to attend WIT@Sime – a unique industry collaboration between MTGx, Google, Spotify, Microsoft, Samsung, Tele2, TeliaSonera, Bonnier, Schibsted and Sime. The interest for the event was huge, and we are very much looking forward to providing with even more such opportunities in 2015, making it an even more successful WIT year.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-computer"></i>Explore Some Of Our Talks
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="press-block">
      <div class="col-lg-4">
        <img src="/img/portfolio/sponsors.png" class="img-responsive" alt="The sponsors of WIT2014">
      </div>
    </section>
