<!-- About Section -->
   <section id="awards">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Awards</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-16">
                <p>The WIT Foundation recognises the accomplishments of women in technology. We show our appreciation through a variety of crowd-voted awards. Make sure to nominate someone you admire this year. Award winners can expect to recieve great prizes.</p>
                <h3>WIT Student of Vision Award</h3>
                <p>WIT Student of Vision Award recognises a student who has a unique vision of making a difference in media and technology, and has already started making initiatives – large or small – to realise that vision. The Student of Vision is passionate about innovative technologies and inspires others to broaden the participation of women in media and technology.</p>
                <p class="green">Winner of the 2015 WIT Student of Vision Award: <span>Malin Arvidsson, Computer Science Student KTH, Communications Manager Flic, President Malvina (KTH Female Network)</span></p>
                <h3>WIT Leadership Award</h3>
                <p>WIT Leadership Award recognises a leading woman who has led an important technology development or innovation, made a significant contribution to the media and technology industries, and inspires others.</p>
                <p class="green">Winner of the 2015 WIT Leadership Award: <span>Eva Fors, COO Microsoft Sweden</span></p>
                <h3>WIT Entrepreneurial Award</h3>
                <p>WIT Entrepreneurship Award recognises a female entrepreneur that possesses the drive, managerial skills and leadership traits that inspire others to follow her lead. She has created a successful and viable media or technology venture startup (within a larger organisation or stand-alone), turning it from idea to finished product through assertive risk taking and innovation.</p>
                <p class="green">Winner of the 2015 WIT Entrepreneurial Award: <span>Elina Berglund, CTO & co-founder Natural Cycles.</span></p>
              <h3>Nomination for this year will open in February 2016.</h3>
           </div>
       </div>
   </section>
