
    <!-- Portfolio Grid Section -->
    <section class="success" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The Event</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <p class="text-center"><p>WIT holds an annual event so that members can network, inspire one another and stay motivated.  The first Women in Tech event took place on the International Womens’ Day 2014 in Stockholm.</p>
                <p>For the last two years the event has provided a unique industry collaboration between MTGx, Google, Spotify, Microsoft, Samsung, Tele2, TeliaSonera, Bonnier, Schibsted and Sime. The interest for the event is growing exponentially each year.  This year, we have over 6,000 participants interested in attending the WIT 2016 conference. We welcome all!</p>
                <p>Join the <a style="color:#fff" href="https://www.facebook.com/groups/WITGlobal/">Facebook</a> group for more information on the Tues, March 8 event in Stockholm, Sweden. Prepare to meet, mingle and listen to some of the most inspiring people in the tech industry:</p>
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                      <iframe src="http://www.youtube.com/embed/{{ post.link }}?wmode=transparent&amp;enablejsapi=1" frameborder="0" allowfullscreen="" id="{{ post-modal-id }}" alt="{{ post.alt }}"></iframe>
                    </div>
                {% endfor %}
                <br>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <a href="http://www.witsthlm.com/" class="btn btn-lg btn-schedule">
                    View This Year's Schedule
                  </a>
                </div>
            </div>
        </div>
    </section>
